<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>兰州1977画室|兰州画室|兰州美术培训</title>
<meta name="keywords" content="画室,兰州画室,1977画室,兰州1977画室,兰州美术高考,兰州美术培训,兰州美术培训班,兰州美术高考培训班,兰州最好的画室"/>
<meta name="description" content="画室,兰州画室,1977画室,兰州1977画室,兰州美术高考,兰州美术培训,兰州美术培训班,兰州美术高考培训班,兰州最好的画室" />
<link rel="icon" href="__ROOT__/Uploads/logo.png"> 
<link rel="stylesheet" href="__PUBLIC__/Css/bootstrap.min.css">
<script src="__PUBLIC__/Js/jquery.min.js"></script>
<script src="__PUBLIC__/Js/bootstrap.min.js"></script>
<link href="__PUBLIC__/Css/works_sumiao.css" rel="stylesheet">
<script type="text/javascript">
  function myModalImage(src){
      $("#mymodali").attr("src",src);
      $("#myModalImage").modal('toggle');
    }
</script>
</head>
<body>
<div class="head-top-masthead">
  <div class="container">
    <nav class="head-top-nav">
      <a class="head-top-nav-item" href="#">{$phone}</a>
      <a class="head-top-nav-item-right" href="#"><img src="__PUBLIC__/Uploads/img/wechat_logo.png"></a>
      <a class="head-top-nav-item-right" href="http://weibo.com/u/2625198674"><img src="__PUBLIC__/Uploads/img/weibo_logo.png"></a>
    </nav>
  </div>
</div>
<div class="head-bottom-masthead ">
  <div class="container">
    <nav class="head-bottom-nav">
      <a class="head-bottom-nav-item" href="index.html"><img src="__PUBLIC__/Uploads/img/logo.png" height="60"></a>
      <div class="head-bottom-nav-item-right" href="#"><img src="__PUBLIC__/Uploads/img/crosser_big.png"></div>
      <a class="head-bottom-nav-item-right" href="{:U('Works/student')}">学生作品</a>
      <a class="head-bottom-nav-item-right" href="#"><img src="__PUBLIC__/Uploads/img/crosser_big.png"></a>
      <a class="head-bottom-nav-item-right" href="{:U('Works/suxie')}">速写</a>
      <a class="head-bottom-nav-item-right" href="#"><img src="__PUBLIC__/Uploads/img/crosser_big.png"></a>
      <a class="head-bottom-nav-item-right" href="{:U('Works/secai')}">色彩</a>
      <a class="head-bottom-nav-item-right" href="#"><img src="__PUBLIC__/Uploads/img/crosser_big.png"></a>
      <a class="head-bottom-nav-item-right" href="{:U('Works/sumiao')}">素描</a>
      <a class="head-bottom-nav-item-right" href="#"><img src="__PUBLIC__/Uploads/img/crosser_big.png"></a>
      <a class="head-bottom-nav-item-right" href="{:U('Index/index')}">返回首页</a>
    </nav>
  </div>
</div>
<div class="content" >
  <div class="container">
    <div class="rectangle">
      <!-- 矩形顶部 -->
      <div class="toprc">
        <div class="title">
          <div class="crosser">
            <img src="__PUBLIC__/Uploads/img/crosser_tab.png">
          </div>
          <div class="widthrc">
            <a href="{:U('Works/sumiao')}" style="text-decoration: none;">
            <div class="smallrc active">
              素描
            </div>
            </a>
          </div>
          <div class="crosser">
            <img src="__PUBLIC__/Uploads/img/crosser_tab.png">
          </div>
          <div class="widthrc">
            <a href="{:U('Works/secai')}" style="text-decoration: none;">
            <div class="smallrc">
              色彩
            </div>
            </a>
          </div>
          <div class="crosser">
            <img src="__PUBLIC__/Uploads/img/crosser_tab.png">
          </div>
          <div class="widthrc">
            <a href="{:U('Works/suxie')}" style="text-decoration: none;">
            <div class="smallrc">
              速写
            </div>
            </a>
          </div>
          <div class="crosser">
            <img src="__PUBLIC__/Uploads/img/crosser_tab.png">
          </div>
          <div class="widthrc">
            <a href="{:U('Works/student')}" style="text-decoration: none;">
              <div class="smallrc">
                学生作品
              </div>
            </a>
          </div>
          <div class="crosser">
            <img src="__PUBLIC__/Uploads/img/crosser_tab.png">
          </div>
        </div>
      </div>
      <!-- 矩形中间 -->
      <div class="contentrc">
         <div class="contenttitlerc">
            <div class="contenttitle">
              素&nbsp;&nbsp;&nbsp;描
            </div>
         </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <foreach name="works" item="data">
            <div class="col-md-3">
              <a href="#" onclick="myModalImage('__ROOT__{$data.pic_adr}')">
                <div class="pic">
                  <img src="__ROOT__{$data.pic_adr}" width="260" height="350">
                </div>
              </a>
            </div>
          </foreach>

        </div>
      </div>
      <div class="both">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img id="mymodali" src="" class="img-rounded" style="width:570px;">
      </div>
    </div>
  </div>
</div>

</body>
</html>